<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
 <%- include('navbar') %>

 <div style="font-size:15px;text-decoration: underline;">
    <a href="/home" style="text-decoration: none;color:black">Home/</a> <a href="/categories" style="text-decoration: none;color:black">Categories/</a><span style="font-family:'Rubik', sans-serif; "><%= category %>></span>
   </div>
 <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4 blogs-container ">
    <% for(const blogs of blogsArray) { let desc=blogs.description.substring(0,100)+'...' %>

      <div class="card category_link" style="width: 15rem;margin:20px;">
        <img class="card-img-top" src="<%= blogs.imagePath %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=blogs.title %></h5>
          <p class="card-text"><%= desc %></p>
          <a href="/blogs/<%= blogs._id %>" class="btn btn-dark">Read More</a>
        </div>
      </div>

    <% } %>
  </div>

  <div class="footer py-3" style="background-color: black;color:white;">
    Made by Saswat
  </div>
   
</body>
</html>